# Exercise 04 - Due Friday, October 21 at 12pm

*Objectives*: Gain experience loading a CSV dataset into a database model you define yourself and using SQL to explore its contents. Explore the data by writing and executing a number of SQL queries using common syntax and functions and describing your findings.

*Grading criteria*: The tasks should all be completed, and questions should all be answered with SQL queries in the space provided, unless a text answer is requested. Results should be correct, according to the embedded tests. The notebook itself should be completely reproducible; from start to finish, another person should be able to use the same code to obtain the same results as yours.  Note that you will receive no more than partial credit if you do not add text/markdown cells explaining your thinking at each major step in each problem.

*Deadline*: Friday, October 21, 12pm. Submit your notebook to Blackboard and push it to your GitHub repository.

## Setup - obtain data and create database

The US City Open Data Census has data on [restaurant inspections from all over the country](http://us-city.census.okfn.org/dataset/food-safety).  Let's take a look at data from Albuquerque.  *Note*: metadata and other details for this dataset are available at http://data.cabq.gov/business/foodinspections/.

Fyi, to save you a step, I've converted this file into a clean CSV file by using the `dos2unix` command to change its line endings and to switch it to use commas instead of tabs using `csvformat -t inputfile.csv > outputfile.csv`.

First we download the dataset:

In [1]:
!wget https://raw.githubusercontent.com/gwsb-istm-6212-fall-2016/syllabus-and-schedule/master/exercises/abq-food-inspections-fy2010.csv

--2016-10-24 14:41:49--  https://raw.githubusercontent.com/gwsb-istm-6212-fall-2016/syllabus-and-schedule/master/exercises/abq-food-inspections-fy2010.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.32.133
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.32.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 5025226 (4.8M) [text/plain]
Saving to: ‘abq-food-inspections-fy2010.csv.1’

abq-food-inspection 100%[=====================>]   4.79M  --.-KB/s   in 0.1s

2016-10-24 14:41:50 (38.2 MB/s) - ‘abq-food-inspections-fy2010.csv.1’ saved [5025226/5025226]

## Problem 1 - examine the data (35 points)

Use `csvstat` and other tools as you see fit and observe its contents.  Review the metadata definitions linked to above.  Describe what you see:  What do all the columns mean?  Are there null values?  Which columns interest you the most?  Which columns present some complications or questions you would like to ask?

<><><

This dataset documents inspections of establishments that sell food or serve food to the public in Albuquerque NM in fiscal year 2010. The dataset contains the 27 variables listed immediately below followed by descriptive statistics for each. The data exhibit imperfections (null values, etc.) that are common in field data but are generally clean and orderly. This data is from the reporting application used on a daily basis by inspectors for the Environmental Health Department, City of Albuquerque NM. 

There are 17,556 records in the dataset. 

Vendors in 2615 locations (FACILITY_NAMEs) with 2835 numbers (FACILITY_KEYs) were inspected at least once. As the most frequent NAME (SMITHS FOOD AND DRUG) is not one of the most frequent KEYs, we see how there could easily be 220 more NAMEs than KEYs.

Fields 3-6 and 10-13 are all elements of the postal address for the site. Field 3 (SITE_ADDRESS) has null values, field 4 (CITY) is ALBUQUERQUE in all records, but field 5 (STATE) in NM in most records, but 87 in at least one record. This indicates that the comma that should separate fields 4 and 5 is missing in at least one record as all zip codes (field 6) begin with 87.

Field 8 OWNER_NAME indicates that the Albuquerque Public Schools own more than twice as many inspected facilities than the next most frequent owner (SMITHS FOOD AND DRUG). The most frequent business type to be inspected by far were restaurants (field 9).

The rest of the dataset is comprised of variable pairs (codes and descriptions) that report on the inspections and their outcomes: Program Category, Inspection Type, Action, Result and Violation. Counts of records for each of these pairs are presented in tables and discussed after the descriptive statistics below.

In [2]:
# Here are the variables (columns)

!csvcut -n abq-food-inspections-fy2010.csv

  1: FACILITY_NAME
  2: FACILITY_KEY
  3: SITE_ADDRESS
  4: CITY
  5: STATE
  6: ZIP
  7: OWNER_KEY
  8: OWNER_NAME
  9: NATURE_OF_BUSINESS
 10: STREET_NUMBER
 11: STREET_NAME
 12: STREET_TYPE
 13: POST_DIRECTIONAL
 14: PHONE
 15: PROGRAM_CATEGORY
 16: PROGRAM_CATEGORY_DESCRIPTION
 17: INSPECTION_DATE
 18: INSPECTION_TYPE
 19: INSPECTION_DESC
 20: SERIAL_NUM
 21: ACTION_CODE
 22: ACTION_DESC
 23: RESULT_CODE
 24: RESULT_DESC
 25: VIOLATION_CODE
 26: VIOLATION_DESC
 27: INSPECTION_MEMO

In [3]:
# and descriptive statistics for each variable.

!csvstat abq-food-inspections-fy2010.csv

  1. FACILITY_NAME
	<class 'str'>
	Nulls: False
	Unique values: 2615
	5 most frequent values:
		SMITHS FOOD AND DRUG CENTERS INC:	154
		ISOTOPES PARK - OVATIONS:	93
		PER EHSII CECELIA GARCIA OOB LA REYNA DEL SUR:	85
		ISLETA AMPHITHEATER:	68
		ECHO INC:	68
	Max length: 77
  2. FACILITY_KEY
	<class 'int'>
	Nulls: False
	Min: 13
	Max: 101482
	Sum: 820405773
	Mean: 46730.79135338346
	Median: 50866.0
	Standard Deviation: 32659.794578837962
	Unique values: 2835
	5 most frequent values:
		46323:	93
		65863:	85
		80949:	68
		32817:	68
		91825:	66
  3. SITE_ADDRESS
	<class 'str'>
	Nulls: True
	Unique values: 2456
	5 most frequent values:
		1601 AVENIDA CESAR CHAVEZ SE:	94
		644 OLD COORS BLVD SW:	85
		8601 CENTRAL AV NE:	77
		2200 SUNPORT BLVD SE:	75
		5210 CENTRAL AV SE:	73
	Max length: 35
  4. CITY
	<class 'str'>
	Nulls: False
	Values: ALBUQUERQUE
  5. STATE
	<class 'str'>
	Nulls: False
	Values: 87, NM
  6. ZIP
	<class 'str'>
	Nulls: False
	Unique values: 48
	5 most frequent values:
		87110:	1996
		87108:	1976
		87102:	1601
		87106:	1568
		87109:	1552
	Max length: 10
  7. OWNER_KEY
	<class 'int'>
	Nulls: False
	Min: 11
	Max: 87302
	Sum: 644760848
	Mean: 36725.953975848715
	Median: 33747.0
	Standard Deviation: 29428.207216739836
	Unique values: 1892
	5 most frequent values:
		1838:	792
		3537:	321
		1272:	228
		36280:	156
		80274:	155
  8. OWNER_NAME
	<class 'str'>
	Nulls: False
	Unique values: 1852
	5 most frequent values:
		APS:	792
		SMITHS FOOD AND DRUG CENTERS INC:	321
		CIRCLE K STORES INC:	277
		ALBERTSONS:	228
		WAL MART STORES EAST  LP:	156
	Max length: 82
  9. NATURE_OF_BUSINESS
	<class 'str'>
	Nulls: True
	Unique values: 594
	5 most frequent values:
		RESTAURANT:	4994
		FOOD SERVICE:	691
		GROCERY:	618
		BAR/RESTAURANT:	508
		APS SCHOOL FOOD SERVICE:	470
	Max length: 25
 10. STREET_NUMBER
	<class 'str'>
	Nulls: True
	Unique values: 1349
	5 most frequent values:
		6600:	216
		10000:	152
		300:	143
		2200:	127
		8100:	125
	Max length: 7
 11. STREET_NAME
	<class 'str'>
	Nulls: True
	Unique values: 404
	5 most frequent values:
		CENTRAL:	1898
		MENAUL:	928
		COORS:	918
		MONTGOMERY:	727
		SAN MATEO:	707
	Max length: 24
 12. STREET_TYPE
	<class 'str'>
	Nulls: True
	Unique values: 13
	5 most frequent values:
		BLVD:	7636
		AV:	3005
		ST:	2065
		RD:	1900
		DR:	995
	Max length: 4
 13. POST_DIRECTIONAL
	<class 'str'>
	Nulls: True
	Values: SE, N, SW, NE, NW
 14. PHONE
	<class 'int'>
	Nulls: True
	Min: 2471094
	Max: 505345566137310
	Sum: 2608539289633190
	Mean: 161719732773.29138
	Median: 5053454060.0
	Standard Deviation: 8895791545525.992
	Unique values: 2279
	5 most frequent values:
		9153321301:	101
		3037929467:	100
		5052224033:	94
		3109680646:	85
		5052426777:	68
 15. PROGRAM_CATEGORY
	<class 'str'>
	Nulls: False
	Unique values: 25
	5 most frequent values:
		0406:	7969
		0601:	1159
		0607:	894
		0606:	865
		0501:	832
	Max length: 4
 16. PROGRAM_CATEGORY_DESCRIPTION
	<class 'str'>
	Nulls: True
	Unique values: 24
	5 most frequent values:
		Food Service Establishment:	7969
		Retail -Grocery:	1159
		Retail - Self Service & Prepackage Foods:	894
		Retail - Prepackage Only:	865
		Bar:	832
	Max length: 40
 17. INSPECTION_DATE
	<class 'datetime.date'>
	Nulls: False
	Min: 2009-07-01
	Max: 2010-06-30
	Unique values: 258
	5 most frequent values:
		2009-12-16:	184
		2009-09-10:	159
		2009-09-25:	148
		2009-11-04:	133
		2009-10-01:	131
 18. INSPECTION_TYPE
	<class 'NoneType'>
	Nulls: True
	Values:
 19. INSPECTION_DESC
	<class 'str'>
	Nulls: False
	Unique values: 15
	5 most frequent values:
		ROUTINE FOOD INSPECTION:	12439
		EMERGENCY RESPONSE:	1987
		New Business Inspection:	1005
		PRE-OPENING FOOD INSPECTION:	743
		ADDITIONAL SERVICE PROVIDED:	439
	Max length: 32
 20. SERIAL_NUM
	<class 'str'>
	Nulls: False
	Unique values: 9046
	5 most frequent values:
		DA0047290:	61
		DA0045731:	61
		DA0047720:	61
		DA0045676:	61
		DA0059230:	61
	Max length: 9
 21. ACTION_CODE
	<class 'str'>
	Nulls: False
	Unique values: 8
	5 most frequent values:
		11:	14080
		00:	2800
		09:	382
		06:	264
		10:	21
	Max length: 2
 22. ACTION_DESC
	<class 'str'>
	Nulls: False
	Unique values: 8
	5 most frequent values:
		APPROVED:	14080
		NON-GRADED:	2800
		ANNUAL STICKER ISSUED:	382
		UNSATISFACTORY:	264
		ANNUAL STICKER NOT ISSUED:	21
	Max length: 34
 23. RESULT_CODE
	<class 'str'>
	Nulls: False
	Unique values: 19
	5 most frequent values:
		03:	14389
		00:	2416
		05:	214
		22:	142
		18:	104
	Max length: 2
 24. RESULT_DESC
	<class 'str'>
	Nulls: False
	Unique values: 19
	5 most frequent values:
		IN COMPLIANCE:	14389
		NOT APPLICABLE:	2416
		DOWNGRADE:	214
		OUT OF BUSINESS:	142
		TRAINING RECEIVED:	104
	Max length: 37
 25. VIOLATION_CODE
	<class 'str'>
	Nulls: True
	Unique values: 128
	5 most frequent values:
		55:	6348
		00:	3429
		68:	1658
		42:	487
		35:	441
	Max length: 10
 26. VIOLATION_DESC
	<class 'str'>
	Nulls: True
	Unique values: 70
	5 most frequent values:
		Additional Comments:	6353
		No Violations Found:	3434
		Delivered Informational Brochure:	1657
		Plumbing: Improperly installed/maintained/supplied:	492
		Non-Food contact surfaces:	446
	Max length: 50
 27. INSPECTION_MEMO
	<class 'NoneType'>
	Nulls: True
	Values:

Row count: 17556

<><><

The Program Category listing below shows that category 0411 is missing a description.

In [4]:
!csvcut -c15,16 abq-food-inspections-fy2010.csv | csvsort | uniq -c | csvlook

|---------------------------+-------------------------------------------|
|        1 PROGRAM_CATEGORY | PROGRAM_CATEGORY_DESCRIPTION              |
|---------------------------+-------------------------------------------|
|      748 0402             | Childcare                                 |
|      343 0403             | Bakery                                    |
|      357 0404             | Institutional Kitchen                     |
|      489 0405             | Food Processor                            |
|     7969 0406             | Food Service Establishment                |
|      288 0407             | Limited Menu                              |
|      832 0408             | School                                    |
|      319 0409             | Non School                                |
|       73 0410             | NOT FOR PROFIT KITCHEN PERMIT             |
|       96 0411             |                                           |
|      832 0501             | Bar                                       |
|     1159 0601             | Retail -Grocery                           |
|      121 0602             | Meat Market                               |
|      203 0603             | Warehouse                                 |
|      203 0604             | Seasonal Venue -Fixed Location            |
|       67 0605             | Seasonal Location -Food Service Permit    |
|      865 0606             | Retail - Prepackage Only                  |
|      894 0607             | Retail - Self Service & Prepackage Foods  |
|      339 0608             | Retail - Deli                             |
|      294 0609             | Retail - Meat/Seafood                     |
|      113 0610             | Retail - Specialty Food Permit            |
|       90 1000             | Frozen Food Truck                         |
|      515 1001             | Mobile Pre-Packaged                       |
|      341 1002             | Mobile Food Unit                          |
|        6 1003             | Food/Drink Vending - Up to 15 Units       |
|---------------------------+-------------------------------------------|

<><><

INSPECTION_TYPE is null for all, so INSPECTION_DESC actually conveys the type.

In [5]:
!csvcut -c18,19 abq-food-inspections-fy2010.csv | csvsort | uniq -c | csvlook

|--------------------------+-----------------------------------|
|        1 INSPECTION_TYPE | INSPECTION_DESC                   |
|--------------------------+-----------------------------------|
|      439                 | ADDITIONAL SERVICE PROVIDED       |
|        1                 | COMPLAINT FOOD INSPECTION         |
|        1                 | E-MAIL                            |
|     1987                 | EMERGENCY RESPONSE                |
|        5                 | FIRE CALL                         |
|       75                 | FOLLOW-UP DOCUMENTATION RECEIVED  |
|      143                 | FOOD FOLLOW-UP INSPECTION         |
|       36                 | IMMINENT HEALTH HAZARD            |
|       54                 | MANAGERIAL ASSISTANCE             |
|      377                 | MOBILE UNIT FOOD INSPECTION       |
|     1005                 | New Business Inspection           |
|      247                 | PHONE CALL                        |
|        4                 | PLAN REVIEW INSPECTION            |
|      743                 | PRE-OPENING FOOD INSPECTION       |
|    12439                 | ROUTINE FOOD INSPECTION           |
|--------------------------+-----------------------------------|

<><><

ACTION_CODE 00 means no action was taken. Else, a negative action taken in ~1.6% of cases appears to show that both the food distribution system and the inspections regime are both relatively healthy.

In [6]:
!csvcut -c21,22 abq-food-inspections-fy2010.csv | csvsort | uniq -c | csvlook

|----------------------+-------------------------------------|
|        1 ACTION_CODE | ACTION_DESC                         |
|----------------------+-------------------------------------|
|     2800 00          | NON-GRADED                          |
|        1 03          | FACILITY CLOSED AT TIME OF SERVICE  |
|      264 06          | UNSATISFACTORY                      |
|      382 09          | ANNUAL STICKER ISSUED               |
|       21 10          | ANNUAL STICKER NOT ISSUED           |
|    14080 11          | APPROVED                            |
|        3 12          | NO PERMIT APPLICATION ISSUED        |
|        5 17          | FOOD PERMIT SUSPENSION              |
|----------------------+-------------------------------------|

<><><

RESULT_CODEs appear to be generally consistent with Actions.

In [7]:
!csvcut -c23,24 abq-food-inspections-fy2010.csv | csvsort | uniq -c | csvlook

|----------------------+----------------------------------------|
|        1 RESULT_CODE | RESULT_DESC                            |
|----------------------+----------------------------------------|
|     2416 00          | NOT APPLICABLE                         |
|       24 02          | NOT IN COMPLIANCE                      |
|    14389 03          | IN COMPLIANCE                          |
|        3 04          | NOTICE                                 |
|      214 05          | DOWNGRADE                              |
|       69 06          | UPGRADE                                |
|        2 07          | PERMIT SUSPENSION                      |
|        1 08          | VOLUNTARY CLOSURE                      |
|        1 10          | PERMISSION TO OPERATE                  |
|       19 11          | FACILITY CLOSED AT TIME OF INSPECTION  |
|       11 12          | PERMIT REINSTATEMENT                   |
|       90 13          | PHONE CALL                             |
|       45 14          | IMMEDIATE CLOSURE                      |
|      104 18          | TRAINING RECEIVED                      |
|        5 19          | WITNESS TO DESTRUCTION                 |
|        3 20          | EMBARGO                                |
|      142 22          | OUT OF BUSINESS                        |
|        2 25          | PLAN REVIEW -APPROVED                  |
|       16 27          | RECALL VERIFICATION                    |
|----------------------+----------------------------------------|

<><><

VIOLATION_CODEs and DESCriptions are null for 1008 observations. It may be evident from inspection ACTIONs or RESULTs. It is strange that there are exactly 5 observations each of CODE 04  00 - 04  73. As with the null observations, the meaning of this pattern is likely evident from other variables for those observations.

In [8]:
!csvcut -c25,26 abq-food-inspections-fy2010.csv | csvsort | uniq -c | csvlook

|-------------------------+-----------------------------------------------------|
|        1 VIOLATION_CODE | VIOLATION_DESC                                      |
|-------------------------+-----------------------------------------------------|
|     1008                |                                                     |
|        1                | Additional Comments                                 |
|     3429 00             | No Violations Found                                 |
|      196 01             | Cold Holding                                        |
|      170 02             | Hot Holding                                         |
|        1 02 15A0204     | OTHER - MISCELLEANOUS                               |
|       40 03             | Reheating Temp                                      |
|        1 04             | Cooking Temperatures                                |
|        5 04  00         | No Violations Found                                 |
|        5 04  01         | Cold Holding                                        |
|        5 04  02         | Hot Holding                                         |
|        5 04  03         | Reheating Temp                                      |
|        5 04  04         | Cooking Temperatures                                |
|        5 04  05         | Cooling, Heating Procedures                         |
|        5 04  06         | Personnel w/infection restricted/excluded           |
|        5 04  07         | Improper handwashing                                |
|        5 04  08         | Barehand Contact with ready to eat food             |
|        5 04  09         | Smoking, Eating, Drinking                           |
|        5 04  10         | Food Cross Contamination                            |
|        5 04  11         | Contaminated equipment                              |
|        5 04  12         | Enough facilities to maintain product temps         |
|        5 04  13         | Adulterated food                                    |
|        5 04  14         | Unapproved Source                                   |
|        5 04  15         | Bent, swollen containers                            |
|        5 04  16         | Inadequate water source, Hot or cold                |
|        5 04  17         | Unapproved sewage and wastewater disposal           |
|        5 04  18         | Cross connection, back siphonage, backflow          |
|        5 04  19         | Handwash Facilities - Inaccessible, unavailable     |
|        5 04  20         | Handwash Facilities - Inadequate                    |
|        5 04  21         | Improper sanitizing                                 |
|        5 04  22         | Improper use of wiping cloths                       |
|        5 04  23         | Toxic Items- Improper Usage                         |
|        5 04  24         | Toxic Items- Improper Labels                        |
|        5 04  25         | Toxic Items- Improper Storage                       |
|        5 04  26         | Evidence of insects                                 |
|        5 04  27         | Evidence of rodents                                 |
|        5 04  28         | Insect, rodents, animals - Other                    |
|        5 04  29         | Poor Hygienic Practices- Soiled Clothing            |
|        5 04  30         | Poor Hygienic Practices- No hair restraints         |
|        5 04  31         | Warewashing Thermometers/Test Kits not provided     |
|        5 04  32         | Improper storage/handling of clean equipment/utens  |
|        5 04  33         | Warewashing facilities                              |
|        5 04  34         | Food contact surfaces                               |
|        5 04  35         | Non-Food contact surfaces                           |
|        5 04  36         | Thermometers not provided, not accurate/consp       |
|        5 04  37         | Potentially hazardous food improperly thawed        |
|        5 04  38         | Food unprotected                                    |
|        5 04  39         | Food dispensing utensils improperly stored          |
|        5 04  40         | Food improperly labeled                             |
|        5 04  41         | Unapproved container                                |
|        5 04  42         | Plumbing: Improperly installed/maintained/supplied  |
|        5 04  43         | Toilet room fixtures                                |
|        5 04  44         | Garbage area improperly maintained or constructed   |
|        5 04  45         | Floors, Walls, Ceilings                             |
|        5 04  46         | Other Operations - Lighting                         |
|        5 04  47         | Other Operations - Ventilation                      |
|        5 04  48         | Other Operations - Personal Items                   |
|        5 04  49         | Other Operations - Linen                            |
|        5 04  50         | Other Operations - Living/Sleeping/Laundry          |
|        5 04  51         | Other Operations - Premises                         |
|        5 04  58         | OPERATING WITHOUT A VALID PERMIT                    |
|        5 04  59         | OBSERVATIONS                                        |
|        5 04  60         | Complaint Substantiated                             |
|        5 04  61         | Complaint Not Substantiated                         |
|        5 04  69         | NO HOT WATER                                        |
|        2 04  70         | LACK OF REFIGERATIONS                               |
|        3 04  70         | LACK OF REFRIGERATION                               |
|        5 04  71         | SEWAGE IN FACILITY                                  |
|        5 04  72         | INFESTATION                                         |
|        5 04  73         | OTHER                                               |
|       52 05             | Cooling, Heating Procedures                         |
|        1 06             | Personnel w/infection restricted/excluded           |
|       35 07             | Improper handwashing                                |
|        1 07  D1         | Maintenance & Operation                             |
|        1 07  H1         | No violations found at time of inspection.          |
|        1 07  H4         | Additional Comments                                 |
|       36 08             | Barehand Contact with ready to eat food             |
|      109 09             | Smoking, Eating, Drinking                           |
|       28 10             | Food Cross Contamination                            |
|       15 11             | Contaminated equipment                              |
|       11 12             | Enough facilities to maintain product temps         |
|       23 13             | Adulterated food                                    |
|        9 14             | Unapproved Source                                   |
|       16 15             | Bent, swollen containers                            |
|       37 16             | Inadequate water source, Hot or cold                |
|       13 17             | Unapproved sewage and wastewater disposal           |
|       84 19             | Handwash Facilities - Inaccessible, unavailable     |
|       13 20             | Handwash Facilities - Inadequate                    |
|      429 21             | Improper sanitizing                                 |
|      119 22             | Improper use of wiping cloths                       |
|       15 23             | Toxic Items- Improper Usage                         |
|       39 24             | Toxic Items- Improper Labels                        |
|       34 25             | Toxic Items- Improper Storage                       |
|       37 26             | Evidence of insects                                 |
|       18 27             | Evidence of rodents                                 |
|        4 28             | Insect, rodents, animals - Other                    |
|        2 29             | Poor Hygienic Practices- Soiled Clothing            |
|       11 30             | Poor Hygienic Practices- No hair restraints         |
|      108 31             | Warewashing Thermometers/Test Kits not provided     |
|       88 32             | Improper storage/handling of clean equipment/utens  |
|       75 33             | Warewashing facilities                              |
|      246 34             | Food contact surfaces                               |
|      441 35             | Non-Food contact surfaces                           |
|      178 36             | Thermometers not provided, not accurate/consp       |
|       58 37             | Potentially hazardous food improperly thawed        |
|      420 38             | Food unprotected                                    |
|       92 39             | Food dispensing utensils improperly stored          |
|      129 40             | Food improperly labeled                             |
|       17 41             | Unapproved container                                |
|      487 42             | Plumbing: Improperly installed/maintained/supplied  |
|       44 43             | Toilet room fixtures                                |
|       19 44             | Garbage area improperly maintained or constructed   |
|      401 45             | Floors, Walls, Ceilings                             |
|      137 46             | Other Operations - Lighting                         |
|       20 47             | Other Operations - Ventilation                      |
|       43 48             | Other Operations - Personal Items                   |
|        7 49             | Other Operations - Linen                            |
|        5 50             | Other Operations - Living/Sleeping/Laundry          |
|       91 51             | Other Operations - Premises                         |
|        9 52             | IMMEDIATE CLOSURE - IMMINENT HEALTH HAZARD          |
|     6348 55             | Additional Comments                                 |
|        1 56             | Notice Statement                                    |
|       15 57             | Downgrade Statement                                 |
|       56 58             | OPERATING WITHOUT A VALID PERMIT                    |
|        6 59             | OBSERVATIONS                                        |
|        3 60             | Complaint Substantiated                             |
|        7 61             | Complaint Not Substantiated                         |
|        1 66             | Additional Comments                                 |
|        1 68             |                                                     |
|     1657 68             | Delivered Informational Brochure                    |
|        1 \              | Additional Comments                                 |
|        1 ]              | Additional Comments                                 |
|-------------------------+-----------------------------------------------------|

<><><

<><><

<><><

## Problem 2 - define a database model and load the data (35 points)

Based on what you found above, create and connect to a new database, define a database table in it, and load this dataset into it.  You may use either of the methods for this step you have seen in earlier class notebooks.  You may choose to eliminate variables/columns if they are not relevant or interesting to you - explain your reasoning if you do.  Either way, you should load a majority of the columns present in the source dataset into the database and all of its rows.

Once your data has loaded successfully, run a `COUNT(*)` query to verify that all the data has loaded correctly.

Insert a combination of code and text/markdown cells here to connect to your database, define your table, load its data, and verify the loaded records.

<><><

We shall use postgreSQL on datanotebook.org to directly define our schema. First we need to restart postgreSQL ...

In [9]:
!echo 'redspot' | sudo -S service postgresql restart

[sudo] password for jovyan: Restarting PostgreSQL 9.5 database server: main.

<><><

Next we create database ex04 as the default user ...

In [10]:
!createdb -U dbuser ex04

createdb: database creation failed: ERROR:  database "ex04" already exists

<><><

We then activate the `ipython-sql` extension ...

In [11]:
%load_ext sql

/opt/conda/lib/python3.5/site-packages/IPython/config.py:13: ShimWarning: The `IPython.config` package has been deprecated. You should import from traitlets.config instead.
  "You should import from traitlets.config instead.", ShimWarning)
/opt/conda/lib/python3.5/site-packages/IPython/utils/traitlets.py:5: UserWarning: IPython.utils.traitlets has moved to a top-level traitlets package.
  warn("IPython.utils.traitlets has moved to a top-level traitlets package.")

<><><

and connect to ex04 specifying the postgreSQL backend, localhost and port ...

In [12]:
%sql postgresql://dbuser@localhost:5432/ex04

'Connected: dbuser@ex04'

Now that we're connected to the ex04 database, we can specify the structure of the data table that will hold the data. I'm calling the table ex04 -- probably not a very good idea -- but SQL takes it all in stride.

We'll keep all variables initially. Later, we'll drop CITY (all Albuquerque), STATE (all should be NM, we know it's not, but we're not going to clean the data), INSPECTION_TYPE (all missing) and INSPECTION_MEMO (all missing). I'm sure I could drop these variables right here. But since I'm new to SQL I'll be cautious and get it all in to begin.

In [13]:
%%sql
DROP TABLE IF EXISTS ex04;
CREATE TABLE ex04 (
    fac VARCHAR(77),
    fac_key CHAR(6),
    site_addr VARCHAR(35),
    city CHAR(11),
    state CHAR(2),
    zipc CHAR(10),
    owner_key CHAR(5),
    owner VARCHAR(82),
    bus VARCHAR(25),
    st_num CHAR(7),
    st VARCHAR(24),
    st_typ CHAR(4),
    post CHAR(2),
    phone CHAR(15),
    pgm_num CHAR(4),
    pgm_desc VARCHAR(40),
    insp_date TIMESTAMP,
    insp_type CHAR(1),
    insp_desc VARCHAR(32),
    serial CHAR(9),
    action_code CHAR(2),
    action_desc VARCHAR(34),
    result_code CHAR(2),
    result_desc VARCHAR(37), 
    violation_code VARCHAR(10),
    violation_desc VARCHAR(50),
    insp_memo CHAR(1)
)

Done.
Done.

[]

<><><

Apparently, the COPY (table) FROM statement below requires an absolute path, so we provide it ...

In [14]:
!pwd

/home/jovyan/work

In [15]:
%%sql
COPY ex04 FROM '/home/jovyan/work/abq-food-inspections-fy2010.csv'
CSV
HEADER
QUOTE '"'
DELIMITER ',';

17556 rows affected.

[]

<><><

Well that looks perfect to me. Let's count all rows explicitly ...

In [16]:
%%sql
SELECT COUNT(*) FROM ex04;

1 rows affected.

[(17556,)]

<><><

Now let's see if we can extract the schema we just put into table ex04 ...

In [17]:
%%sql
SELECT column_name, data_type, character_maximum_length, is_nullable
FROM INFORMATION_SCHEMA.COLUMNS WHERE table_name = 'ex04';

27 rows affected.

[('fac', 'character varying', 77, 'YES'),
 ('fac_key', 'character', 6, 'YES'),
 ('site_addr', 'character varying', 35, 'YES'),
 ('city', 'character', 11, 'YES'),
 ('state', 'character', 2, 'YES'),
 ('zipc', 'character', 10, 'YES'),
 ('owner_key', 'character', 5, 'YES'),
 ('owner', 'character varying', 82, 'YES'),
 ('bus', 'character varying', 25, 'YES'),
 ('st_num', 'character', 7, 'YES'),
 ('st', 'character varying', 24, 'YES'),
 ('st_typ', 'character', 4, 'YES'),
 ('post', 'character', 2, 'YES'),
 ('phone', 'character', 15, 'YES'),
 ('pgm_num', 'character', 4, 'YES'),
 ('pgm_desc', 'character varying', 40, 'YES'),
 ('insp_date', 'timestamp without time zone', None, 'YES'),
 ('insp_type', 'character', 1, 'YES'),
 ('insp_desc', 'character varying', 32, 'YES'),
 ('serial', 'character', 9, 'YES'),
 ('action_code', 'character', 2, 'YES'),
 ('action_desc', 'character varying', 34, 'YES'),
 ('result_code', 'character', 2, 'YES'),
 ('result_desc', 'character varying', 37, 'YES'),
 ('violation_code', 'character varying', 10, 'YES'),
 ('violation_desc', 'character varying', 50, 'YES'),
 ('insp_memo', 'character', 1, 'YES')]

<><><

Now THAT is absolutely WILD!

<><><

<><><

<><><

## Problem 3 - explore your data (30 points)

Now that the data is loaded, ask some questions of it!  Identify key variables of interest and note their ranges along with other useful descriptive statistics.  Choose and define a few lines of inquiry, execute queries for each, and describe what you find in your result sets.  Use any query techniques we've seen in class, including aggregate functions, transformations, subqueries, or others as appropriate. 

If you find interesting patterns, adding plots to your exploration would be useful.

Insert a combination of code and text/markdown cells here to explore your data.

<><><

I'm basically interested in one thing ...if any neighborhood has a substantially higher rate of bad citations per inspection. I'll use the number of records in the database as a measure of inspections. This is not entirely accurate, but I'm just taking a quick & dirty first look. I'll use zip code to proxy for neighborhood and start by displaying counts of all records in each zip code. I'll then manually compute a new neighborhood indicator from contiguous zip codes containing 1,000-2000 records each.

In [18]:
%%sql
SELECT zipc, COUNT (*) FROM ex04
GROUP BY zipc
ORDER by zipc
LIMIT 100;

48 rows affected.

[('87017     ', 3),
 ('87100     ', 3),
 ('87101     ', 15),
 ('87102     ', 1601),
 ('871023114 ', 9),
 ('87103     ', 35),
 ('87104     ', 527),
 ('87105     ', 533),
 ('87106     ', 1568),
 ('87107     ', 1186),
 ('87108     ', 1976),
 ('871084174 ', 3),
 ('871084815 ', 3),
 ('871085004 ', 4),
 ('871087121 ', 6),
 ('87109     ', 1552),
 ('871094620 ', 3),
 ('87110     ', 1996),
 ('871101922 ', 6),
 ('871104546 ', 5),
 ('871104973 ', 6),
 ('87111     ', 1008),
 ('87111-3146', 6),
 ('871112648 ', 3),
 ('871113971 ', 7),
 ('871118200 ', 3),
 ('87112     ', 1151),
 ('871124722 ', 3),
 ('87113     ', 326),
 ('871131512 ', 13),
 ('87114     ', 1053),
 ('871145010 ', 22),
 ('871147005 ', 4),
 ('871147010 ', 4),
 ('87116     ', 7),
 ('87117     ', 10),
 ('87119     ', 34),
 ('87120     ', 789),
 ('87121     ', 879),
 ('87122     ', 112),
 ('871221303 ', 20),
 ('871222949 ', 7),
 ('87123     ', 1017),
 ('87124     ', 20),
 ('87158     ', 6),
 ('87187     ', 5),
 ('87192     ', 5),
 ('87197     ', 2)]

Create a new variable for neighborhood (hood)

In [19]:
%%sql
ALTER TABLE ex04
ADD COLUMN hood INTEGER;

Done.

[]

Recode zipc into the 12 natural contiguous groups of zip codes of 1000-2000 records...

In [20]:
%%sql
UPDATE ex04
SET hood = 1
WHERE zipc < 87103;

(psycopg2.ProgrammingError) operator does not exist: character < integer
LINE 3: WHERE zipc < 87103;
                   ^
HINT:  No operator matches the given name and argument type(s). You might need to add explicit type casts.
 [SQL: 'UPDATE ex04\nSET hood = 1\nWHERE zipc < 87103;']

Well, that was my plan anyway. It appears that SQL doesn't have a straightforward recode function -- not one that I could find anyway. So I'm attempting to use brute force and not having any luck either. Even though SQL sorts zip codes that are strings it does not compute on them. I'm hitting my head against a concrete wall trying to do a really simple thing: a recode or a conditional assignment (If x then y). If I can't get observations into comparable groups then any computed rate of bad citations will not be stable enough across groups for comparison. 

So, I'm stuck. I'm sure there are several really easy fixes. But I can't find even one. There isn't even a reference to recoding a variable in `Learning SQL by Alan Beaulieu` and only scant reference to conditional logic. So it's essentally as if I've gone down a rabbit hole. I probably need to go back and change the variable type of zipc to integer. But to retain my sanity right now I'm going to abandon. 

I'm going to treat this frustration as though it's an essential part of the learning process. Strangely, that may actually be true.

## Bonus (10 points)

We have seen a few simple techniques for normalizing data in class.  Choose a column or set of columns that might be redundant and normalize them out to another table:

* Identify the columns to normalize in the source data table
* Create one or more new tables to hold the normalized records
* Extract data into the new tables
* Re-insert the new foreign key references from the new table into the source table